﻿body 
{
    color:#505050;
    font-family: Tahoma, Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 11px; 
}

/*.active_item, active_item:hover, active_item:visited{
    color:#F7941D;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
}*/

input
{
    color:#808080;
    font-family: Tahoma, Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 11px; padding: 3px 5px 3px 5px;
}

select
{
    color:#808080;
    font-family: Tahoma, Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 11px; padding: 3px 5px 3px 5px;
}

textarea
{
    color:#808080;
    font-family: Tahoma, Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 11px; padding: 3px 5px 3px 5px;
	}

.box
{
    padding: 10px;
    border: 3px solid #89b8fa; 
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

a{text-decoration:none;color:#808080; font-weight: bold; font-style:normal;}
a:hover{text-decoration:none;color:#F7941D; font-weight: bold;font-style:normal;}
a:visited{text-decoration:none;color:#0F45A8; font-weight: bold;font-style:normal;}

.a_menu{text-decoration:underline;color:#0F45A8; font-style:normal; font-weight: normal;}
.a_menu:hover{text-decoration:underline;color:#F7941D;font-style:normal; font-weight: normal;}
.a_menu:visited{text-decoration:underline;  color:#0FA0D1;font-style:normal; font-weight: normal;}

.link_button{text-decoration:none;color:#092869; font-weight: bold; font-variant: small-caps;font-style:normal;}
.link_button:hover{text-decoration:none;color:#F7941D; font-weight: bold; font-variant: small-caps;font-style:normal;}
.link_button:visited{text-decoration:none;color:#092869; font-weight: bold; font-variant: small-caps;font-style:normal;}

.link_header_sub{text-decoration:none;color:#FFFFFF; font-weight: normal; font-style:italic; font-variant: normal;}
.link_header_sub:hover{text-decoration:none;color:#F7941D; font-weight: normal;font-style:italic; font-variant: normal;}
.link_header_sub:visited{text-decoration:none;color:#FFFFFF; font-weight: normal;font-style:italic; font-variant: normal;}

h1{text-decoration:none; font-weight: bold; font-style:normal; font-size: 15px;}
h2{text-decoration:none; font-weight: bold; font-style:normal; font-size: 14px;}
h3{text-decoration:none; font-weight: bold; font-style:normal; font-size: 13px;}
h4{text-decoration:none; font-weight: bold; font-style:normal; font-size: 12px;}
h5{text-decoration:none; font-weight: bold; font-style:normal; font-size: 11px;}

.list_topics {list-style-type: upper-roman;}
.list_topics li {padding: 2px 0px 2px 0px;}
.list_topics li ol{list-style-type: decimal;}

.list_contents {list-style-type: decimal;}
.list_contents li {padding: 2px 0px 2px 0px;}
.list_contents li ol{list-style-type: circle;}

.widget_header {padding: 3px 5px 3px 5px;}

/* containers */
.content_standard{padding: 5px 5px 5px 5px; border-style: none;}
.content_indented{margin-left: 40px;}

/* tables */
.display_grid{}
.display_grid th{border: solid 1px #E3DCDC;background-color: #0D80BA; color: #FFFFFF; font-weight: bold; text-align: center; font-variant: small-caps; padding: 3px 5px 3px 5px;}
.display_grid td{border: solid 1px #E3DCDC;background-color: #FFFFFF; color: #505050; font-weight: normal; padding: 2px 5px 2px 5px;}

/* displays */
.cell_text {text-align: left;}
.cell_numeric {text-align: right;}
.cell_date {text-align: right;}
.cell_boolean {text-align: center;}

#holderLeftNav{ position: relative; top:  0px; width: 185px; padding-left: 20px; padding-right: 5px; padding-bottom: 5px; padding-top: 0px; display: table-cell; text-align: left;}
#holderMaincontent{ position: relative; left: 0px; top: 0px; width: 945px; padding-right: 20px; padding-left: 5px; padding-bottom: 5px; padding-top: 0px; display: table-cell; text-align: left;}


.link-menu { padding: 5px;}

/* Grid View */
.ui_grid {
    border-style: solid;
    border-color: #E8EBED; 
    border-top-width: 2px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 2px;
	font-family: Tahoma, Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size: 11px;
}
.ui_grid td
{
    padding: 2px 4px 2px 4px;
    white-space: nowrap;
}

.ui_grid th
{
    background: #719DDB; 
	color: #ffffff; 
	font-weight: bold; 
    padding: 5px 4px 5px 4px;
    font-size: 11px;
	white-space: nowrap;
}

.ui_gridAltItem
{
	background-color: #F5F5F5;
	color: #666666;
}
    
.ui_grid th a{text-decoration:none;color:#ffffff; font-weight: bold; font-style:normal;}
.ui_grid th a:hover{text-decoration:none;color:#ffffff; font-weight: bold;font-style:normal;}
.ui_grid th a:visited{text-decoration:none;color:#ffffff; font-weight: bold;font-style:normal;}

.ui_gridSelected
{
background-color: #ccffcc;
color: #666666;
}

/*.text-upper-case {
text-transform: uppercase;

}*/

.paginationGridView span{

     color: #0a075f;
    font-weight:bolder;
}