﻿body
{
    margin: 0 auto;
    padding: 6px 0 0 0;
}

.container
{
    margin: 0 auto;
    width: 980px;
    margin-top: 0;
}

#header {
width: 100%;
vertical-align: top;
margin-top: 0;
float: left;
margin-left: 0;
background-image: url(../publishingImages/header_img.jpg);
background-position: top left;
background-repeat: no-repeat;
}

.logo {
display: inline;
float: left;
width: 175px;
height: 85px;
padding: 10px 0 10px 45px;
}

.headerright {
width: 75%;
float: right;
margin-top: 0;
display: inline;
}

.toparea {
float: right;
height: 25px;
width: 100%;
padding-top: 15px;
}

.searcharea {
float: right;
width: 150px;
margin-right: -3px;
}

.Searchtxtfield {
font-family: Arial,Helvetica,sans-serif;
font-size: 11px;
color: #000;
border: 1px solid #979797;
height: 14px;
vertical-align: middle;
float: left;
padding: 0;
}

.toplinks {
float: right;
display: inline;
}

.Header{}

.Header a, .Header a:link, .Header a:visited, Header a:active {
font-family: Arial,Helvetica,sans-serif;
color: #999;
font-size: 9px;
text-decoration: none;
text-transform: uppercase;
margin-right: 30px;
font-weight: bold;
}

.Header a:hover {
font-family: Arial,Helvetica,sans-serif;
color: #f7941d;
font-size: 9px;
text-transform: uppercase;
margin-right: 30px;
text-decoration: none!important;
font-weight: bold;
}

/*-- Top Menus --*/

.globalnav {
float: left;
margin-left: 20px!important;
margin-top: 15px;
}

.radmenu {
DISPLAY: block;
FLOAT: left;
WHITE-SPACE: nowrap;
POSITION: relative;
}

.RadMenu_MainNav {
FONT-WEIGHT: bold;
FONT-SIZE: 12px;
BACKGROUND: #fff;
FLOAT: right;
margin: 0;
CURSOR: auto;
COLOR: #808080;
TEXT-ALIGN: left;
}

/*------------*/

.welcome {
height: 20px;
text-align: left;
float: right;
padding-right: 0;
display: inline;
margin-top: 10px;
}

.siteaction {
font-size: 100%;
color: #999;
float: right;
display: inline;
text-align: left;
}

.welcomeuser {
font-size: 100%;
color: white;
float: right;
margin-right: 5px;
display: inline;
}

.ms-siteaction {
font: 8pt tahoma;
font-weight: bold;
color: #666666;
text-decoration: none;
}

.ms-siteactionsmenu {
white-space: nowrap;
font: 8pt tahoma;
padding: 0;
border: none;
cursor: pointer;
}

.ClearBoth {
clear: both;
}

.Pagetopimage2 {
width: 100%;
margin-bottom: 30px;
}

#breadcrumsection {
padding-left: 55px;
color: #999;
margin-top: 4px;
text-align: left;
}

.breadCrumb730 {
width: 700px;
}

.FloatLeft {
float: left;
}

.FloatLeft breadCrumb730 {
float: left;
width: 700px;
text-align: left;
}

.RootBreadCrumb {
font-size: 11px;
color: #999;
text-decoration: none;
font-weight: bold;
}

.CurrentBreadCrumb {
font-size: 11px;
color: #f7941d;
font-weight: bold;
}

.ShareThis {
margin-top: 8px;
min-width: 205px!important;
}

.Supercolumn210right {
width: 205px;
text-align: right!important;
}

.FooterBlue {
font-family: Arial,Helvetica,sans-serif;
font-size: 8pt!important;
font-weight: bold;
margin-top: -5px;
}

.MainPanel2 {
float: left;
/*padding-left: 45px;*/
display: block;
/*margin-top: 25px;*/
margin-bottom: 30px;
text-align: left;
}

#holderLeftNav
{
    padding-left: 0px;
}

.DottedBorderLeft {
border-left: 1px dotted #8c8c8c;
}

.LeftNavigation {
width: 185px;
}

#holderMaincontent
{
    padding-left: 10px;
    padding-right: 0px;
    font-family: Arial,Helvetica,sans-serif!important;
    font-size: 12px;
    /*color: #757676;*/
    color: black;
    line-height: 20px;
}

#holderLeftNav a:hover
{
    color: #f7941d;
}
#holderLeftNav a
{
    font-size: 11px;
    text-decoration: none;
    color: #808080;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
}
#holderLeftNav td
{
    padding-bottom: 5px;
}
#pnlLabelMessage
{
	border-style: solid;
	border-color: Red;
	border-width: thin;
	padding: 5px;
}

.pnlLabelMessage
{
	border-style: solid;
	border-color: Red;
	border-width: thin;
	padding: 5px;
}

.buttons
{
    cursor: pointer;
    background-color: #9AA501;
    color: White;
    font-weight: bold;
    outline-color: #9AA501;
    border: 1px solid #9AA501;
    font-size: 11px !important;
    }

    .buttons.save {
        white-space: normal;
        width: 165px;
        height: 42px;
        font-size: 10px !important;
    }
 
#lbxCustomer td.selected {
    background:#E3E3E3;
}

#lbxCustomer input[type=checkbox] {
  vertical-align: -6px; 
    margin: 13px 5px;
    float: left;
    cursor:pointer;
}

table#lbxCustomer tr td {
    border-bottom: 1px solid #eae7e7;
}


#lbxCustomer p.empty-row {
    font-style: italic;
    margin: -2px auto;
    color: #bbb;
    margin:-2px 0px;
}
p#totalSelected {
    text-align:right;
    font-size:11px;
    color:blue;
}
 
table#optProductType input {
    vertical-align: -3px;
}


/*My Return*/

.td-label {
    width:121px;
}


.sol-inner-container {
    border-radius: 0px !important;
    height: 21px !important;
}

.sol-input-container input {
    font-size:10px;
}

.sol-no-results {
     font-size: 10px;
}

.sol-selection {
    max-height:300px !important;
}
.sol-option {
    padding:2px 10px !important;
}

.sol-label-text { 
    padding-top: 4px;
    font-size: 10px;
}

.sol-checkbox, .sol-radio { 
    top: 0px !important;
}

.sol-caret-container .sol-caret {
    top:9px;
}

.sol-current-selection {

}
    .sol-current-selection > div {
            font-size:10px !important;
    }
.sol-selected-display-item-text, .sol-quick-delete {
        padding: 0px 5px !important;
}

.sol-inner-container {
        border: 1px solid darkgrey !important;
}

#btnGo,#btnControlGo {
    position: absolute;
    top: 104px;
    left: 318px;custom-combobox-toggle
    display:none;
}

/*.ui-button {
    background: white !important;
    border: 0px;
}*/

/*---------------*/

.tooltip-contact:hover {
    cursor:pointer;
} 

div.ui-tooltip {
    font-size:10px !important;
    max-width: 800px;
}

.custom-combobox-toggle { 
    vertical-align: -8px !important;
    height: 10px !important;
    width: 13px !important;
    background: #e8e8e8 !important;
    border-left: 0 !important;
    border-radius: 0px !important;
    margin-left: -16px;
    background: white !important;
    border: 0px !important;
    margin-top: -40px !important;
    height: 21px !important;
    top: -2px;
}

.custom-combobox-input {
    width:295px;  
    padding: 5px !important;
    background: white !important;
    border: 1px solid #aaaaaa !important;
    color: gray;
}

.ui-autocomplete {
    height:150px; 
    overflow:auto;
    font-size:10px !important;
}
 
#imgLoading, #imgSuccess,#imgLoadingLoc,#imgLoadingSerial {
    vertical-align:-5px;
    width:16px;
    display:none;
}

.file-errormessage {
    margin: 0px;
    color: red;
    font-weight: bold;
}

.required {
    color:red;
    display:none;
}

.ui-menu-item.ui-state-focus {
    border:0px !important;
    background:#008ff5 !important;
    color:white !important;
}

.ui-menu-item a.pcn-item {
      font-weight:normal !important;
}

.ui-menu-item.ui-state-focus a.pcn-item { 
    color:white !important;
  
}

span.working{    
    margin: 1px 6px -1px -25px;
    vertical-align: -1px;
    display:none;
}

#empty-message {
    color:#b5b5b5; 
}
  
.ui-autocomplete-term { font-weight: bold; color: blue; }


.ctrl-return {
    width:173px !important
}

#imgSerialLoading, #imgPCNLoading {
    margin: 0px 5px 0px -22px;
    vertical-align: -3px;
    display:none;
}

.rdgitem{
    width: 615px;
    margin-left: 25px;
    border: 1px dotted #eee;
    border-radius: 7px;
}

#pSerialSrc, #pPCNSrc{
    margin: 0px 6px 0px -92px;
    color: #d6d6d6;
    font-size: 10px;
    vertical-align: 1px;
    display:none;
}

li.ms-select-all label {
    font-weight: bold !important;
    color: #008ff5;
}


.reset-list {
    position: absolute;
    top: 84px;
    left: 276px;
    color: blue;
    font-size: 10px;
    cursor: pointer;
    display:none;
}

.clear-search {
    color: blue;
    font-size: 10px;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 135px;
    left: 150px;
}

.returnForm-disclaimer {
width:  200px;
font-size: 9px;
}